
@font-face {
  font-family: 'StarcraftNormal';
  src: url('StarcraftNormal.eot?#iefix') format('embedded-opentype'),  url('StarcraftNormal.woff') format('woff'), url('StarcraftNormal.ttf')  format('truetype'), url('StarcraftNormal.svg#StarcraftNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
