.rect {
    width: 100px;
    height: 100px;
    border: 2px #000 solid;
    margin: 50px 0 0 50px;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px #000 solid;
    margin: 50px 0 0 50px;
    border-radius: 100px;
}

.anim-1 {
    animation: pulse 2s infinite;
}

.anim-1-1 {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.anim-2 {
    animation: moveRight 2s infinite;
}

.anim-3 {
    animation: skewRight 2s infinite;
}
.anim-4 {
    animation: rotateRight 4s infinite;
}
.anim-5 {
    animation: rotateZ 6s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(240px);
        border: 8px #999 solid;
    }
    100% {
        transform: translateX(-100px);
    }
}

@keyframes skewRight {
    0% {
        transform: skewX(0deg);
    }
    50% {
        transform: skewX(45deg);
        background-color: #999;
    }
    100% {
        transform: skewX(0deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        background-color: #999;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateZ {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}