body {
    /*overflow-x: hidden;*/
}

input, select {
    display: block;
    height: 60px;
    font-size: 48px;
    font-family: 'Impact', sans-serif;
    width: calc(100% - 20px);
    margin: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 5px 5px 5px 15px;
    outline: none;
}
input:hover, select:hover {
    color: #999;
    border: 2px solid #999;
    outline: none;
}
input:active, select:active,
input:focus, select:focus{
    color: #999;
    border: 2px solid #999;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
}
input[type="radio"] {
    width: 150px;
    height: 150px;
}
input[type="checkbox"] {
    width: 100px;
    height: 100px;
}

.form-control {
    color: #000;
    border: none;
    border-bottom: 4px solid #000;
    transition: 1s all;
}
.form-control:hover,
.form-control:focus,
.form-control:active {
    color: #999;
    border: none;
    border-bottom: 4px solid red;
    outline: none;
    transition: 1s all;
}
input[type="button"] {
    transition: 1s all;
}
input[type="radio"]:focus,
input[type="radio"]:active {
    outline: 2px solid #000;
    -moz-outline-radius: 150px;
    /*box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);*/
}
textarea {
    width: 100%;
    height: 200px;
    font-size: 24px;
    border: 2px solid #000;
    transition: 2s;
}
textarea:hover {
    box-shadow: 0 0 18px 0 rgba(255,255,0,0.85);
    transition: 2s;
}