ul {
    border: 1px solid #000;
    padding-top: 100px;
    /*margin-top: 50px;*/
}
ul li {
    padding-top: 10px;
    font-size: 18px;
    /*list-style: none;*/
}
ol li {
    padding-top: 5px;
    font-size: 24px;
}
ol li:hover {
    font-size: 32px;
    transition: 0.4s;
}
